<!DOCTYPE html>
<html>
<head>
    <title>Criminals List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="flashing-bg">
    <audio id="bgm" src="{{ url_for('static', filename='missionimpossible.mp3') }}" autoplay loop></audio>
    <h1>All Criminals</h1>
    <ul>
        {% for criminal in criminals %}
            <li>{{ criminal }}</li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('index') }}" class="back-btn">Back to Login</a>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
<div id="loading-screen" class="loading-screen">
    <div class="siren">
        <div class="siren-light red"></div>
        <div class="siren-light blue"></div>
    </div>
    <div class="loading-text">You'll be able to catch them soon...</div>
</div>
</html>