<!DOCTYPE html>
<head>
    <title>Thief Rearrangement</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<div id="loading-screen" class="hacker-loading-screen">
    <div class="hacker-portal"></div>
    <div class="hacker-loading-text">Hacking tools loading...</div>
</div>
<body>
    <audio id="bgm" src="{{ url_for('static', filename='thief.mp3') }}" autoplay loop></audio>
    <h1>Enter Four Numbers</h1>
    <form method="post">
        <input type="text" name="num1" value="{{ num1 }}" required>
        <input type="text" name="num2" value="{{ num2 }}" required>
        <input type="text" name="num3" value="{{ num3 }}" required>
        <input type="text" name="num4" value="{{ num4 }}" required>
        <button type="submit">Submit</button>
    </form>
    {% if ans %}
        <h2>All Rearrangements:</h2>
        <ul>
        {% for pattern in ans %}
            <li>{{ pattern }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>